{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  //First Names
      [ { "mode" : "alts" }, "Data ", "Mercury ", "Eva ", "Quorra ", "Mina ", "Isa ", "SATA ", "Audio ", "Yori ", "Ma3a ", "Paige ", "Mara ", "Gem ", "Fan ", "USB ", "I/O ", "Output " ],
	  //Last Names
      [ { "mode" : "alts" }, "Kernel", "Processor", "Memory", "Indicator", "Reset", "Switch", "Socket", "Cache", "Connector", "Chipset", "Unit", "Capacitor", "Virus", "Trojan", "Network", "Circuit", "" ]
    ]
  ]
}