{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  //First Names
      [ { "mode" : "alts" }, "CLU ", "Tron ", "Bit ", "Byte ", "Ram ", "Crom ", "Minor ", "Castor ", "ISO ", "Anon ", "Zuse ", "Meruem ", "BIOS ", "ROM ", "Lan ", "Program ", "System ", "Input " ],
	  //Last Names
      [ { "mode" : "alts" }, "Kernel", "Processor", "Memory", "Indicator", "Reset", "Switch", "Socket", "Cache", "Connector", "Chipset", "Unit", "Capacitor", "Virus", "Trojan", "Network", "Circuit", "" ]
    ]
  ]
}