{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader144.png",
      "fileBody" : "/interface/chests/slots65to144.png",
      "fileFooter" : "/interface/chests/chestfooter144.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [40, 198],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
	"clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [138, 23]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [84, 153],
      "dimensions" : [12, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [7, 39],
      "slotOffset" : 48,
      "dimensions" : [16, 6],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "<slots> SLOTS",
      "hAnchor" : "mid",
      "position" : [165, 232]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine65andup.png",
      "position" : [0, 47]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [300, 246]
    }
  }
}
