{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Zeo ", "Turbo ", "Space ", "Galazy ", "Lightspeed ", "Time ", "Wild ", "Mystic ", "Overdrive ", "Super ", "Legendary ", "Solar " ],
      [ { "mode" : "alts" }, "Power ", "Force ", "Delta ", "Morpher ", "Master ", "Charge ", "Mega ", "Battilizer ", "Ranger " ],
      [ { "mode" : "alts" }, "Pike", "Spear", "Halberd", "Lance", "Impaler", "Spike" ]
    ]
  ]
}
