{
  "techRefreshTime" : 0.5,
  "unlockTechText" : "\n\n^green;Unlock this tech with a blank tech card.",
  "unlockTechButtonConfig" : {
    "base" : "/interface/ai/unlocktechup.png",
    "hover" : "/interface/ai/unlocktechover.png",
    "pressed" : "/interface/ai/unlocktechdown.png"
  },
  "selectTechButtonConfig" : {
    "base" : "/interface/ai/selectTechUp.png",
    "hover" : "/interface/ai/selectTechOver.png",
    "pressed" : "/interface/ai/selectTechDown.png"
  },

  "showAiButtonConfig" : {
    "base" : "/interface/ai/letstalkup.png",
    "hover" : "/interface/ai/letstalkover.png",
    "pressed" : "/interface/ai/letstalkdown.png"
  },
  "showTechButtonConfig" : {
    "base" : "/interface/ai/showtechup.png",
    "hover" : "/interface/ai/showtechover.png",
    "pressed" : "/interface/ai/showtechdown.png"
  },

  "defaultSuitBase" : "/interface/ai/suits/<species>-<gender>.png",
  "techStaticSpecies" : "elunite-",

  "guiConfig" : {
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [370, 183]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "O.R.D.I.S.",
      "subtitle" : "Ordinateur Redistribution de Information Systematic",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/ai/aiicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/ai/header.png",
      "fileBody" : "/interface/ai/elunite-body.png",
      "fileFooter" : "/interface/ai/footer.png"
    },
    "show3dPrint" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/letme3dup.png",
      "hover" : "/interface/ai/letme3dover.png",
      "pressed" : "/interface/ai/letme3ddown.png",
      "position" : [10, 38],
      "pressedOffset" : [0, 0]
    },
    "showTech" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/showtechup.png",
      "hover" : "/interface/ai/showtechover.png",
      "pressed" : "/interface/ai/showtechdown.png",
      "position" : [10, 55],
      "pressedOffset" : [0, 0]
    },

    "aiTextScrollArea" : {
      "zlevel" : 3,
      "type" : "scrollArea",
      "horizontalScroll" : false,
      "verticalScroll" : false,
      "rect" : [114, 50, 232, 165],
      "children" : {
        "aiText" : {
          "type" : "label",
          "color" : [174, 225, 238, 255],
          "hAnchor" : "left",
          "vAnchor" : "bottom",
          "position" : [2, 2],
          "wrapWidth" : 120,
          "lineSpacing" : 1.0
        }
      }
    },

    "mainStack" : {
      "type" : "stack",
      "position" : [0, 0],
      "stack" : [
        {
          "aiTextNextArrow" : {
            "zlevel" : 1,
            "type" : "button",
            "base" : "/interface/ai/next.png",
            "hover" : "/interface/ai/nextOver.png",
            "pressed" : "/interface/ai/nextDown.png",
            "position" : [255, 163],
            "pressedOffset" : [0, 0]
          },
          "aiTextPrevArrow" : {
            "zlevel" : 1,
            "type" : "button",
            "base" : "/interface/ai/prev.png",
            "hover" : "/interface/ai/prevOver.png",
            "pressed" : "/interface/ai/prevDown.png",
            "position" : [235, 163],
            "pressedOffset" : [0, 0]
          },
          "aiFaceCanvas" : {
            "zlevel" : 1,
            "type" : "canvas",
            "rect" : [7, 75, 97, 169]
          },

          "aiCommandTabs" : {
            "type" : "tabSet",
            "tabButtonBaseImage" : "/interface/tabs/tabbase.png",
            "tabButtonHoverImage" : "/interface/tabs/tabover.png",
            "tabButtonBaseImageSelected" : "/interface/tabs/tabselected.png",
            "tabButtonHoverImageSelected" : "/interface/tabs/tabselectedover.png",
            "tabButtonPressedOffset" : [0, 0],
            "tabButtonTextOffset" : [0, -1],
            "tabButtonSpacing" : [-1, 0],
            "rect" : [248, 43, 386, 173],
            "zlevel" : 9,
            "tabs" : [
              {
                "tabName" : "commands",
                "tabTitle" : "Commands",
                "children" : {
                  "issueCommand" : {
                    "type" : "button",
                    "base" : "/interface/ai/issuecommandUp.png",
                    "hover" : "/interface/ai/issuecommandOver.png",
                    "pressed" : "/interface/ai/issuecommandDown.png",
                    "position" : [4, 0],
                    "pressedOffset" : [0, 0]
                  },
                  "scrollArea" : {
                    "type" : "scrollArea",
                    "rect" : [0, 24, 138, 112],
                    "children" : {
                      "commandItemList" : {
                        "type" : "list",
                        "schema" : {
                          "selectedBG" : "/interface/ai/CommandOver.png",
                          "unselectedBG" : "/interface/ai/CommandUp.png",
                          "spacing" : [0, 1],
                          "memberSize" : [156, 21],
                          "listTemplate" : {
                            "background" : {
                              "type" : "image",
                              "file" : "/interface/ai/CommandUp.png",
                              "position" : [0, 0],
                              "zlevel" : -1
                            },
                            "itemName" : {
                              "type" : "label",
                              "position" : [21, 10],
                              "hAnchor" : "left",
                              "vAnchor" : "mid",
                              "wrapWidth" : 100
                            },
                            "itemIcon" : {
                              "type" : "image",
                              "position" : [1, 1]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              {
                "tabName" : "missions",
                "tabTitle" : "Missions",
                "children" : {
                  "startMission" : {
                    "type" : "button",
                    "base" : "/interface/ai/deployup.png",
                    "hover" : "/interface/ai/deployover.png",
                    "pressed" : "/interface/ai/deploydown.png",
                    "position" : [4, 0],
                    "pressedOffset" : [0, 0]
                  },
                  "scrollArea" : {
                    "type" : "scrollArea",
                    "rect" : [0, 24, 138, 112],
                    "children" : {
                      "missionItemList" : {
                        "type" : "list",
                        "schema" : {
                          "selectedBG" : "/interface/ai/CommandOver.png",
                          "unselectedBG" : "/interface/ai/CommandUp.png",
                          "spacing" : [0, 1],
                          "memberSize" : [156, 21],
                          "listTemplate" : {
                            "background" : {
                              "type" : "image",
                              "file" : "/interface/ai/CommandUp.png",
                              "position" : [0, 0],
                              "zlevel" : -1
                            },
                            "itemName" : {
                              "type" : "label",
                              "position" : [21, 10],
                              "hAnchor" : "left",
                              "vAnchor" : "mid",
                              "wrapWidth" : 100
                            },
                            "itemIcon" : {
                              "type" : "image",
                              "position" : [3, 3]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            ]
          }
        },
        {
          "imgBody" : {
            "type" : "image",
            "file" : "/interface/ai/suits/human-male.png",
            "position" : [10, 78]
          },
          "staticCanvas" : {
            "zlevel" : 1,
            "type" : "canvas",
            "rect" : [7, 75, 97, 169]
          },
          "techItemHead" : {
            "type" : "itemslot",
            "position" : [72, 144],
            "callback" : "null"
          },
          "techItemBody" : {
            "type" : "itemslot",
            "position" : [72, 116],
            "callback" : "null"
          },
          "techItemLegs" : {
            "type" : "itemslot",
            "position" : [72, 88],
            "callback" : "null"
          },

          "techLock" : {
            "type" : "button",
            "base" : "/interface/ai/selectTechUp.png",
            "hover" : "/interface/ai/selectTechOver.png",
            "pressed" : "/interface/ai/selectTechDown.png",
            "position" : [252, 43],
            "zlevel" : 1
          },

          "techTabs" : {
            "type" : "tabSet",
            "tabButtonBaseImage" : "/interface/ai/tabbase.png",
            "tabButtonHoverImage" : "/interface/ai/tabover.png",
            "tabButtonBaseImageSelected" : "/interface/ai/tabselected.png",
            "tabButtonHoverImageSelected" : "/interface/ai/tabselectedover.png",
            "tabButtonPressedOffset" : [0, 0],
            "tabButtonTextOffset" : [0, -1],
            "tabButtonSpacing" : [-1, 0],
            "rect" : [247, 37, 400, 173],
            "tabs" : [
              {
                "tabName" : "head",
                "tabTitle" : "Head",
                "children" : {
                  "scrollArea" : {
                    "type" : "scrollArea",
                    "rect" : [0, 30, 139, 118],
                    "children" : {
                      "techHeadItemList" : {
                        "type" : "list",
                        "schema" : {
                          "selectedBG" : "/interface/ai/craftableselected.png",
                          "unselectedBG" : "/interface/ai/craftablebackground.png",
                          "spacing" : [0, 1],
                          "memberSize" : [133, 20],
                          "listTemplate" : {
                            "background" : {
                              "type" : "image",
                              "file" : "/interface/ai/craftablebackground.png",
                              "position" : [1, 0],
                              "zlevel" : -1
                            },
                            "itemName" : {
                              "type" : "label",
                              "position" : [22, 11],
                              "hAnchor" : "left",
                              "wrapWidth" : 116,
                              "value" : "Replace Me"
                            },
                            "itemIcon" : {
                              "type" : "itemslot",
                              "position" : [2, 1],
                              "callback" : "null"
                            },
                            "lockIcon" : {
                              "type" : "image",
                              "position" : [2, 1],
                              "file" : "/interface/lockicon.png"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              {
                "tabName" : "body",
                "tabTitle" : "Body",
                "children" : {
                  "scrollArea" : {
                    "type" : "scrollArea",
                    "rect" : [0, 30, 139, 118],
                    "children" : {
                      "techBodyItemList" : {
                        "type" : "list",
                        "schema" : {
                          "selectedBG" : "/interface/ai/craftableselected.png",
                          "unselectedBG" : "/interface/ai/craftablebackground.png",
                          "spacing" : [0, 1],
                          "memberSize" : [133, 20],
                          "listTemplate" : {
                            "background" : {
                              "type" : "image",
                              "file" : "/interface/ai/craftablebackground.png",
                              "position" : [1, 0],
                              "zlevel" : -1
                            },
                            "itemName" : {
                              "type" : "label",
                              "position" : [22, 11],
                              "hAnchor" : "left",
                              "wrapWidth" : 116,
                              "value" : "Replace Me"
                            },
                            "itemIcon" : {
                              "type" : "itemslot",
                              "position" : [2, 1],
                              "callback" : "null"
                            },
                            "lockIcon" : {
                              "type" : "image",
                              "position" : [2, 1],
                              "file" : "/interface/lockicon.png"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              {
                "tabName" : "legs",
                "tabTitle" : "Legs",
                "children" : {
                  "scrollArea" : {
                    "type" : "scrollArea",
                    "rect" : [0, 30, 139, 118],
                    "children" : {
                      "techLegsItemList" : {
                        "type" : "list",
                        "schema" : {
                          "selectedBG" : "/interface/ai/craftableselected.png",
                          "unselectedBG" : "/interface/ai/craftablebackground.png",
                          "spacing" : [0, 1],
                          "memberSize" : [133, 20],
                          "listTemplate" : {
                            "background" : {
                              "type" : "image",
                              "file" : "/interface/ai/craftablebackground.png",
                              "position" : [1, 0],
                              "zlevel" : -1
                            },
                            "itemName" : {
                              "type" : "label",
                              "position" : [22, 11],
                              "hAnchor" : "left",
                              "wrapWidth" : 116,
                              "value" : "Replace Me"
                            },
                            "itemIcon" : {
                              "type" : "itemslot",
                              "position" : [2, 1],
                              "callback" : "null"
                            },
                            "lockIcon" : {
                              "type" : "image",
                              "position" : [2, 1],
                              "file" : "/interface/lockicon.png"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              {
                "tabName" : "suit",
                "tabTitle" : "Suit",
                "children" : {
                  "scrollArea" : {
                    "type" : "scrollArea",
                    "rect" : [0, 30, 139, 118],
                    "children" : {
                      "techSuitItemList" : {
                        "type" : "list",
                        "schema" : {
                          "selectedBG" : "/interface/ai/craftableselected.png",
                          "unselectedBG" : "/interface/ai/craftablebackground.png",
                          "spacing" : [0, 1],
                          "memberSize" : [133, 20],
                          "listTemplate" : {
                            "background" : {
                              "type" : "image",
                              "file" : "/interface/ai/craftablebackground.png",
                              "position" : [1, 0],
                              "zlevel" : -1
                            },
                            "itemName" : {
                              "type" : "label",
                              "position" : [22, 11],
                              "hAnchor" : "left",
                              "wrapWidth" : 116,
                              "value" : "Replace Me"
                            },
                            "itemIcon" : {
                              "type" : "itemslot",
                              "position" : [2, 1],
                              "callback" : "null"
                            },
                            "lockIcon" : {
                              "type" : "image",
                              "position" : [2, 1],
                              "file" : "/interface/lockicon.png"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            ]
          }
        }
      ]
    }
  }
}

